<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.iuap.example.contacts.dao.ExampleInstitMapper">

	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.contacts.entity.ExampleInstit">
		<id column="institid" property="institid" jdbcType="VARCHAR" />
		<result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
		<result column="short_name" property="short_name" jdbcType="VARCHAR" />
		<result column="instit_name" property="instit_name" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="instit_type" property="instit_type" jdbcType="VARCHAR" />
		<result column="instit_code" property="instit_code" jdbcType="VARCHAR" />
		<result column="parent_id" property="parent_id" jdbcType="VARCHAR" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		institid,
		instit_code,
		creationtime,
		short_name,
		instit_name,
		email,
		creator,
		instit_type,
		parent_id,
		ts,
		dr
	</sql>
	
	
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from example_instit
	</select>
	
	<select id="findByFid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from example_instit
		where  parent_id= #{parent_id,jdbcType=VARCHAR}
	</select>
	
	<select id="findByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from example_instit
		where  instit_code= #{instit_code,jdbcType=VARCHAR}
	</select>
	
	
	<select id="selectAllByPage" resultMap="BaseResultMap"
		resultType="java.util.List">
		SELECT
		<include refid="Base_Column_List" />
		from example_instit where 1=1
		<if test="search != null">
			<if
				test="search.searchParam!=null and search.searchParam!='' ">
				and instit_code like CONCAT(CONCAT('%', #{search.searchParam}),'%') 
				or instit_name like CONCAT(CONCAT('%', #{search.searchParam}),'%')
			</if>
		</if>
	</select>
	
	
	<insert id="batchInsert" parameterType="java.util.List">
		insert into  example_instit(creationtime,short_name,instit_name,email,institid,creator,instit_type,parent_id,instit_code,ts,dr)
		
		 <foreach collection="list" item="item" index="index" separator="union" open="(" close=")">
			select
			#{item.creationtime,jdbcType=TIMESTAMP},
			#{item.short_name,jdbcType=VARCHAR},
			#{item.instit_name,jdbcType=VARCHAR},
			#{item.email,jdbcType=VARCHAR}, 
			#{item.institid,jdbcType=VARCHAR}, 
			#{item.creator,jdbcType=VARCHAR},
			#{item.instit_type,jdbcType=VARCHAR},
			#{item.parent_id,jdbcType=VARCHAR},
			#{item.instit_code,jdbcType=VARCHAR},
			#{item.ts,jdbcType=TIMESTAMP},
			#{item.dr,jdbcType=NUMERIC}
			from dual
		</foreach>
	</insert>
	
	<update id="batchUpdate" parameterType="java.util.List">
	
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update example_instit
			<set>
				creationtime=#{item.creationtime,jdbcType=TIMESTAMP}, 
				short_name=#{item.short_name,jdbcType=VARCHAR},
				instit_name=#{item.instit_name,jdbcType=VARCHAR},
				email=#{item.email,jdbcType=VARCHAR}, 
				institid=#{item.institid,jdbcType=VARCHAR},
				creator= #{item.creator,jdbcType=VARCHAR},
				instit_type=#{item.instit_type,jdbcType=VARCHAR},
				parent_id=#{item.parent_id,jdbcType=VARCHAR}, 
				instit_code=#{item.instit_code,jdbcType=VARCHAR},
				ts=#{item.ts,jdbcType=TIMESTAMP},
				dr=#{item.dr,jdbcType=NUMERIC}
			</set>
			where institid = #{item.institid,jdbcType=VARCHAR}
		</foreach>
	
	</update>
	
	<delete id="batchDelete" parameterType="java.util.List">
		delete from example_instit
		where
		institid in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
			#{item.institid,jdbcType=VARCHAR}
		</foreach>
	</delete>

	<select id="selectInstitByIds" resultMap="BaseResultMap" parameterType="java.util.Set"
			resultType="java.util.List">
		SELECT
		<include refid="Base_Column_List" />
		from example_instit where 1=1 and institid in
		<foreach collection="set" item="item" index="index"
				 separator="," open="(" close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>

	</select>

</mapper>