<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.sanyorder.dao.SanyOrderMapper">
    <resultMap id="BaseResultMap" type="com.yonyou.iuap.example.sanyorder.entity.SanyOrder">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="ordercode" property="orderCode" />
        <result column="ordername" property="ordeName" />
        <result column="SUPPLIER" property="supplier" />
        <result column="supplierName" property="supplierName" />
        <result column="type" property="type" />
        <result column="purchasing" property="purchasing" />
        <result column="purchasingGroup" property="purchasingGroup" />
        <result column="voucherDate" property="voucherDate" />

        <result column="type_name" property="type_name" />
        <result column="status_name" property="status_name" />
        <result column="approvalState_name" property="approvalState_name" />

        <result column="approvalstate" property="approvalState" />
        <result column="confirmstate" property="confirmState" />
        <result column="confirmState_name" property="confirmState_name" />
        <result column="closestate" property="closeState" />

        <result column="closeState_name" property="closeState_name" />

        <result column="dr" property="dr" />
        <result column="ts" property="ts" />
        <result column="last_modified" property="lastModified" />
        <result column="last_modify_user" property="lastModifyUser" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />

        <result column="bpm_state" property="bpmState" />
        <result column="bpm_task_key" property="taskKey" />
        <result column="bpm_taskid" property="taskId" />
        <result column="bpm_process_instance" property="processInstanceId" />
        <result column="bpm_process_define" property="processDefineCode" />

    </resultMap>


	<select id="selectAllByPage"  resultMap="BaseResultMap">
			SELECT  t.ID,
				t.ORDERCODE,
				t.ORDERNAME,
				t.SUPPLIER,
				t.supplierName,
				t.type,
				t.purchasing,
				t.purchasingGroup,
				t.voucherDate,
				CASE WHEN t.type='0' THEN 'D001' WHEN t.type='1' THEN 'D002' WHEN t.type='2' THEN 'D003' WHEN t.type='3' THEN 'D004' END AS type_name,
				t.APPROVALSTATE,
				CASE WHEN t.APPROVALSTATE='0' THEN '未提交' WHEN t.APPROVALSTATE='1' THEN '已提交' END AS approvalState_name,		
				t.CONFIRMSTATE,
				CASE WHEN t.CONFIRMSTATE='0' THEN '未确认' WHEN t.CONFIRMSTATE='1' THEN '已确认' WHEN t.CONFIRMSTATE='2' THEN '拒绝' END AS confirmState_name,
				t.CLOSESTATE,
				CASE WHEN t.CLOSESTATE='0' THEN '未关闭' WHEN t.CLOSESTATE='1' THEN '已关闭' END AS closeState_name,
				t.remark,
				t.version,
				t.create_Time ,
				t.create_User ,
				t.last_Modified ,
				t.last_Modify_User ,
				t.ts,
				t.dr,
                t.bpm_state,
                t.bpm_task_key,
                t.bpm_taskid,
                t.bpm_process_instance,
                t.bpm_process_define
        FROM SANY_ORDER t WHERE dr=0
			<if test="condition != null">
				<if test="condition.searchMap.orderCode!=null and condition.searchMap.orderCode!='' ">
					and t.ORDERCODE LIKE CONCAT(CONCAT('%', ${condition.searchMap.code}),'%')
				</if>
				<if test="condition.searchMap.supplierName!=null and condition.searchMap.supplierName!='' ">
					and t.supplierName like CONCAT(CONCAT('%', #{condition.searchMap.supplierName}), '%')
				</if>
				<if test="condition.searchMap.voucherDate!=null and condition.searchMap.voucherDate!='' ">
					and t.voucherDate between to_date(${condition.searchMap.startTime},'yyyy-mm-dd hh24:mi:ss') and to_date(${condition.searchMap.endTime},'yyyy-mm-dd hh24:mi:ss')
				</if>
				<if test="condition.searchMap.type!=null and condition.searchMap.type!='' ">
					and t.type = #{condition.searchMap.type}
				</if>
				<if test="condition.searchMap.approvalState!=null and condition.searchMap.approvalState!='' ">
					and t.APPROVALSTATE = #{condition.searchMap.APPROVALSTATE}
				</if>
				<if test="condition.searchMap.confirmState!=null and condition.searchMap.confirmState!='' ">
					and t.CONFIRMSTATE = #{condition.searchMap.CONFIRMSTATE}
				</if>
				<if test="condition.searchMap.closeState!=null and condition.searchMap.closeState!='' ">
					and t.CLOSESTATE = #{condition.searchMap.CLOSESTATE}
				</if>
				<if test="condition.searchMap.purchasingGroup!=null and condition.searchMap.purchasingGroup!='' ">
					and t.PURCHASINGGROUP = #{condition.searchMap.purchasingGroup}
				</if>
			</if>		
			<if test="page != null">
				<if test="page.sort!=null">
					order by 
					<foreach collection="page.sort" item="item" separator=" ">
						${item.property} ${item.direction}
					</foreach>
				</if>
			</if>	
	</select>

</mapper>