<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.iuap.example.contacts.dao.ContactsMapper">

	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.contacts.entity.Contacts">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="institid" property="institid" jdbcType="VARCHAR" />
		<result column="peoname" property="peoname" jdbcType="VARCHAR" />
		<result column="peocode" property="peocode" jdbcType="VARCHAR" />
		<result column="institname" property="institname" jdbcType="VARCHAR" />
		<result column="worktel" property="worktel" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="office" property="office" jdbcType="VARCHAR" />
		<result column="countryzone" property="countryzone" jdbcType="VARCHAR" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="NUMERIC" />
	</resultMap>

	<sql id="Base_Column_List">
		id,institid,peoname,peocode,worktel,email,sex,tel,office,countryzone,institname,ts,dr
	</sql>

	<select id="selectAllByPage" resultMap="BaseResultMap" resultType="java.util.List">
		SELECT
			<include refid="Base_Column_List" />
		FROM example_contacts 
		WHERE 1=1 
			<if test="condition != null">
				<if test="condition.searchMap.ids!=null and condition.searchMap.ids.size>0 ">
					and institid in
						<foreach collection="condition.searchMap.ids" item="item" index="index"
							separator="," open="(" close=")">
							#{condition.searchMap.ids[${index}], jdbcType=VARCHAR}
						</foreach>
				</if>
				<if test="condition.searchMap.searchParam!=null and condition.searchMap.searchParam!='' ">
					and (peoname like CONCAT(CONCAT('%',#{condition.searchMap.searchParam}),'%')
						 or peocode like CONCAT(CONCAT('%', #{condition.searchMap.searchParam}),'%')
						 or tel like CONCAT(CONCAT('%', #{condition.searchMap.searchParam}),'%')
						 or email like CONCAT(CONCAT('%', #{condition.searchMap.searchParam}),'%'))
				</if>
			</if>
	</select>
	
	<select id="queryList" resultMap="BaseResultMap" resultType="java.util.List">
		SELECT
			<include refid="Base_Column_List" />
		FROM example_contacts
		WHERE 1=1
			<if test="condition != null">
				<if test="condition.refParam!=null and condition.refParam!='' ">
					and ( peocode like CONCAT(CONCAT('%',#{condition.refParam}),'%') or peoname like CONCAT(CONCAT('%',#{condition.refParam}),'%'))
				</if>
				<if test="condition.institid!=null and condition.institid!='' ">
					and institid = #{condition.institid, jdbcType=VARCHAR}
				</if>
			</if>
	</select>

	<select id="findByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			<include refid="Base_Column_List" />
		from example_contacts
		where peocode= #{peocode,jdbcType=VARCHAR}
	</select>

	<select id="findByid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from example_contacts
		where institid= #{institid,jdbcType=VARCHAR}
	</select>

	<delete id="batchDelete" parameterType="java.util.List">
		delete from example_contacts
		where
		id in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
			#{item.id,jdbcType=VARCHAR}
		</foreach>
	</delete>


	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO example_contacts (	id,
										institid,
										institname,
										peocode,
										peoname,
										worktel,
										email,
										sex,
										tel,
										office,
										countryzone,
										ts,
										dr
			)
		<foreach collection="list" item="item" index="index"
			separator="union" open="(" close=")">
			SELECT
					#{item.id,jdbcType=VARCHAR},
					#{item.institid,jdbcType=VARCHAR},
					#{item.institname,jdbcType=VARCHAR},
					#{item.peocode,jdbcType=VARCHAR},
					#{item.peoname,jdbcType=VARCHAR},
					#{item.worktel,jdbcType=VARCHAR},
					#{item.email,jdbcType=VARCHAR},
					#{item.sex,jdbcType=VARCHAR},
					#{item.tel,jdbcType=VARCHAR},
					#{item.office,jdbcType=VARCHAR},
					#{item.countryzone,jdbcType=VARCHAR},
					#{item.ts,jdbcType=TIMESTAMP},
					#{item.dr,jdbcType=NUMERIC}
			FROM dual
		</foreach>
	</insert>

	<update id="batchUpdate" parameterType="java.util.List">

		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update example_contacts
			<set>
				id=#{item.id,jdbcType=VARCHAR},
				institid=#{item.institid,jdbcType=VARCHAR},
				peocode=#{item.peocode,jdbcType=VARCHAR},
				institname=#{item.institname,jdbcType=VARCHAR},
				peoname=#{item.peoname,jdbcType=VARCHAR},
				worktel=#{item.worktel,jdbcType=VARCHAR},
				email=#{item.email,jdbcType=VARCHAR},
				sex=#{item.sex,jdbcType=VARCHAR},
				tel=#{item.tel,jdbcType=VARCHAR},
				office=#{item.office,jdbcType=VARCHAR},
				countryzone=#{item.countryzone,jdbcType=VARCHAR},
				ts=#{item.ts,jdbcType=TIMESTAMP},
				dr=#{item.dr,jdbcType=NUMERIC}
			</set>
			where id = #{item.id,jdbcType=VARCHAR}
		</foreach>

	</update>


</mapper>