<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.iuap.example.article.dao.ExampleArticleMapper">
  <resultMap id="BaseResultMap" type="com.yonyou.iuap.example.article.entity.ExampleArticle">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="publish_user_id" jdbcType="VARCHAR" property="publishUserId" />
    <result column="publish_user_name" jdbcType="VARCHAR" property="publishUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.yonyou.iuap.example.article.entity.ExampleArticle">
    insert into example_article (id, title, content, 
      create_user_id, create_user_name, publish_user_id, 
      publish_user_name, create_time, publish_time, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{publishUserId,jdbcType=VARCHAR}, 
      #{publishUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.iuap.example.article.entity.ExampleArticle">
    insert into example_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="publishUserId != null">
        publish_user_id,
      </if>
      <if test="publishUserName != null">
        publish_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="publishUserId != null">
        #{publishUserId,jdbcType=VARCHAR},
      </if>
      <if test="publishUserName != null">
        #{publishUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.yonyou.iuap.example.article.entity.ExampleArticle">
    update example_article set
      #{title,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR},
      #{createUserId,jdbcType=VARCHAR},
      #{createUserName,jdbcType=VARCHAR},
      #{publishUserId,jdbcType=VARCHAR},
      #{publishUserName,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{publishTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from example_article where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectAllByPage" resultMap="BaseResultMap" resultType="java.util.List">
  SELECT
  <include refid="Base_Column_List"/>
  from example_article where 1=1
  <if test="search != null">
    <if test="search.code!=null and search.code!='' ">
      and title like CONCAT(CONCAT('%', #{search.title}),'%')
    </if>
    <if  test="search.content!=null and search.content!='' ">
      and content like CONCAT(CONCAT('%', #{search.content}),'%')
    </if>
  </if>
</select>
</mapper>