<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.sanyrole.dao.SanyRoleMapper">

	<select id="selectAllByPage" resultType="com.yonyou.iuap.example.sanyrole.entity.SanyRole">
SELECT  t.ID,
				t.ROLECODE,
				t.ROLENAME,
				t.ROLEDescribe,
				
				t.remark,
				t.version,
				t.createTime,
				t.createUser,
				t.lastModified,
				t.ts,
				t.dr FROM SANY_ROLE t WHERE 1=1
			<if test="condition != null">
				<if test="condition.searchMap.roleCode!=null and condition.searchMap.roleCode!='' ">
					and t.ROLECODE like CONCAT(CONCAT('%', ${condition.searchMap.roleCode}),'%')
				</if>
				<if test="condition.searchMap.roleName!=null and condition.searchMap.roleName!='' ">
					and t.ROLENAME like CONCAT(CONCAT('%', ${condition.searchMap.roleName}),'%')
				</if>
				<if test="condition.searchMap.roleDescribe!=null and condition.searchMap.roleDescribe!='' ">
					and t.ROLEDescribe like CONCAT(CONCAT('%', ${condition.searchMap.roleDescribe}),'%')
				</if>
			</if>		
			<if test="page != null">
				<if test="page.sort!=null">
					order by 
					<foreach collection="page.sort" item="item" separator=" ">
						${item.property} ${item.direction}
					</foreach>
				</if>
			</if>	
	</select>
	
	<insert id="insert" parameterType="com.yonyou.iuap.example.sanyrole.entity.SanyRole">
		insert into SANY_ROLE (
				  id,
				  ROLECODE,
				  ROLENAME,
				  ROLEDescribe,
				  remark,
				  version,
				  createTime,
				  createUser,
				  lastModified,
				  lastModifyUser,
				  ts,
				  dr
		)values(	#{id,jdbcType=VARCHAR},
					#{roleCode,jdbcType=VARCHAR},
					#{roleName,jdbcType=VARCHAR},
					#{roleDescribe,jdbcType=VARCHAR},
					#{remark,jdbcType=VARCHAR},
					#{version,jdbcType=NUMERIC},
					#{createTime,jdbcType=VARCHAR},
					#{createUser,jdbcType=VARCHAR},
					#{lastModified,jdbcType=VARCHAR},
					#{lastModifyUser,jdbcType=VARCHAR},
					#{ts,jdbcType=VARCHAR},
					#{dr,jdbcType=DATE}
		)
	</insert>
	
	<update id="update" parameterType="com.yonyou.iuap.example.sanyrole.entity.SanyRole">
		update 	SANY_ROLE
		set		
				ROLECODE=#{roleCode,jdbcType=VARCHAR},
				ROLENAME=#{roleName,jdbcType=VARCHAR},
				roleDescribe=#{roleDescribe,jdbcType=VARCHAR},
				
				remark=#{remark,jdbcType=VARCHAR},
				version=#{version,jdbcType=NUMERIC}+1,
				lastModified=#{lastModified,jdbcType=TIMESTAMP},
				lastModifyUser=#{lastModifyUser,jdbcType=VARCHAR}
		where	id=#{id}
				and version=#{version}
	</update>
	
	<delete id="delete">
		DELETE FROM SANY_ROLE
		WHERE 1=1
			<if test="condition==null">
				and 1=2
			</if>
			<if test="condition!=null">
				<if test="condition.id!=null and condition.id!=''">
					and id = #{condition.id}
				</if>
				<if test="condition.ids!=null and condition.ids.size>0">
					and id in (
						<foreach collection="condition.ids" item="item" separator="," open="(" close=")">
							#{item,jdbcType=VARCHAR}
						</foreach>
					)
				</if>
			</if>
	</delete>
	
</mapper>