<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.supervise.dao.Ygdemo_yw_subMapper">
	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.supervise.entity.Ygdemo_yw_sub">
		<id column="sub_id" property="sub_id" jdbcType="VARCHAR" />
		<result column="fk_id_ygdemo_yw_sub" property="fk_id_ygdemo_yw_sub" jdbcType="VARCHAR" />
		<result column="sub_code" property="sub_code" jdbcType="VARCHAR" />
		<result column="sub_name" property="sub_name" jdbcType="VARCHAR" />
		<result column="zbr" property="zbr" jdbcType="VARCHAR" />
		<result column="sub_ms" property="sub_ms" jdbcType="VARCHAR" />
		<result column="begin_date" property="begin_date" jdbcType="TIMESTAMP" />
		<result column="end_date" property="end_date" jdbcType="TIMESTAMP" />
		<result column="create_name" property="create_name" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
		<result column="update_name" property="update_name" jdbcType="VARCHAR" />
		<result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		fk_id_ygdemo_yw_sub,
		zbr,
		create_name,
		update_name,
		sub_ms,
		sub_code,
		sub_name,
		update_time,
		end_date,
		create_time,
		begin_date,
		sub_id,
		ts,
		dr
	</sql>
	<select id="selectAllByPage" resultMap="BaseResultMap"
		resultType="java.util.List">
		SELECT
		<include refid="Base_Column_List" />
		from ygdemo_yw_sub where 1= 1
		<if test="search != null">
			<if
				test="search.searchMap.fk_id_ygdemo_yw_sub!=null and search.searchMap.fk_id_ygdemo_yw_sub!='' ">
				and fk_id_ygdemo_yw_sub = #{search.searchMap.fk_id_ygdemo_yw_sub}
			</if>
		</if>
	</select>
	<select id="findYgdemo_yw_subByFK" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		from ygdemo_yw_sub
		where fk_id_ygdemo_yw_sub = #{fk_id_ygdemo_yw_sub,jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="com.yonyou.iuap.example.supervise.entity.Ygdemo_yw_sub">
		insert into ygdemo_yw_sub (fk_id_ygdemo_yw_sub,
			sub_id,
			sub_code,
			sub_name,
			zbr,
			sub_ms,
			begin_date,
			end_date,
			create_name,
			create_time,
			update_name,
			update_time,
			ts,
			dr
		)
		values (#{fk_id_ygdemo_yw_sub,jdbcType=VARCHAR}, 
		#{sub_id,jdbcType=VARCHAR},
		#{sub_code,jdbcType=VARCHAR},
		#{sub_name,jdbcType=VARCHAR}, 
		#{zbr,jdbcType=VARCHAR}, 
		#{sub_ms,jdbcType=VARCHAR},
		#{begin_date,jdbcType=TIMESTAMP}, 
		#{end_date,jdbcType=TIMESTAMP},
		#{create_name,jdbcType=VARCHAR},
		#{create_time,jdbcType=TIMESTAMP}, 
		#{update_name,jdbcType=VARCHAR},
		#{update_time,jdbcType=TIMESTAMP},
		#{ts,jdbcType=TIMESTAMP},
		#{dr,jdbcType=NUMERIC}
		)
	</insert>
	
	<update id="update" parameterType="com.yonyou.iuap.example.supervise.entity.Ygdemo_yw_sub">
		update ygdemo_yw_sub
		set fk_id_ygdemo_yw_sub = #{fk_id_ygdemo_yw_sub,jdbcType=VARCHAR},
		sub_code = #{sub_code,jdbcType=VARCHAR},
		sub_name = #{sub_name,jdbcType=VARCHAR},
		zbr = #{zbr,jdbcType=VARCHAR},
		sub_ms = #{sub_ms,jdbcType=VARCHAR},
		begin_date = #{begin_date,jdbcType=TIMESTAMP},
		end_date = #{end_date,jdbcType=TIMESTAMP},
		create_name = #{create_name,jdbcType=VARCHAR},
		create_time = #{create_time,jdbcType=TIMESTAMP},
		update_name = #{update_name,jdbcType=VARCHAR},
		update_time = #{update_time,jdbcType=TIMESTAMP},
		ts = #{ts,jdbcType=TIMESTAMP},
		dr = #{dr,jdbcType=NUMERIC}
		where sub_id = #{sub_id,jdbcType=VARCHAR}
	</update>
	<delete id="batchDeleteByPK" parameterType="java.util.List">
		delete from ygdemo_yw_sub
		where
		sub_id in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
		#{item.sub_id,jdbcType=VARCHAR}
		</foreach>
	</delete>
	<delete id="batchDeleteByFK" parameterType="java.util.List">
		delete from ygdemo_yw_sub
		where
		fk_id_ygdemo_yw_sub in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
		#{item.fk_id_ygdemo_yw_sub,jdbcType=VARCHAR}
		</foreach>
	</delete>
</mapper>