<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.supervise.dao.Ygdemo_yw_infoMapper">
	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.supervise.entity.Ygdemo_yw_info">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="zrr" property="zrr" jdbcType="VARCHAR" />
		<result column="dbr" property="dbr" jdbcType="VARCHAR" />
		<result column="zbr" property="zbr" jdbcType="VARCHAR" />
		<result column="update_name" property="update_name" jdbcType="VARCHAR" />
		<result column="create_name" property="create_name" jdbcType="VARCHAR" />
		<result column="zr_dw" property="zr_dw" jdbcType="VARCHAR" />
		<result column="unitid" property="unitid" jdbcType="VARCHAR" />
		<result column="xb_dw" property="xb_dw" jdbcType="VARCHAR" />
		<result column="qt_ld" property="qt_ld" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="xbr" property="xbr" jdbcType="VARCHAR" />
		<result column="ly_code" property="ly_code" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="NUMERIC" />
		<result column="kpi_level" property="kpi_level" jdbcType="NUMERIC" />
		<result column="kpi_flag" property="kpi_flag" jdbcType="NUMERIC" />
		<result column="zy_cd" property="zy_cd" jdbcType="NUMERIC" />
		<result column="db_info" property="db_info" jdbcType="VARCHAR" />
		<result column="jfyq" property="jfyq" jdbcType="VARCHAR" />
		<result column="ly_sm" property="ly_sm" jdbcType="VARCHAR" />
		<result column="end_date" property="end_date" jdbcType="TIMESTAMP" />
		<result column="begin_date" property="begin_date" jdbcType="TIMESTAMP" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
		<result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
		<result column="jd_bl" property="jd_bl" jdbcType="NUMERIC" />
		<result column="rwpf" property="rwpf" jdbcType="NUMERIC" />
		<result column="tenant_id" property="tenant_id" jdbcType="VARCHAR" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		zrr,
		dbr,
		zbr,
		update_name,
		create_name,
		zr_dw,
		unitid,
		xb_dw,
		qt_ld,
		name,
		code,
		xbr,
		ly_code,
		state,
		kpi_level,
		kpi_flag,
		zy_cd,
		db_info,
		jfyq,
		ly_sm,
		end_date,
		begin_date,
		create_time,
		update_time,
		jd_bl,
		rwpf,
		id,
		tenant_id,
		ts,
		dr
	</sql>
	<select id="selectAllByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		${querySql}
		<foreach collection="search.keys" item="key" index="index">   
		    <if test="null != search[key]">
		        and ${key} like CONCAT(CONCAT('%', #{search[${key}]}),'%')
		    </if>  
		</foreach>
		<!--
		<foreach collection="search.entrySet()" item="value" index="key">
		             and #{key} like CONCAT(CONCAT('%', #{value}),'%')
		        </foreach>-->
	</select>
	<select id="getByIds" resultMap="BaseResultMap" parameterType="java.util.List">
		SELECT
		<include refid="Base_Column_List" />
		from ygdemo_yw_info where 
		id in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</select>
	<insert id="insert" parameterType="com.yonyou.iuap.example.supervise.entity.Ygdemo_yw_info">
		insert into ygdemo_yw_info (zrr,
			dbr,
			zbr,
			update_name,
			create_name,
			zr_dw,
			unitid,
			xb_dw,
			qt_ld,
			name,
			code,
			xbr,
			ly_code,
			state,
			kpi_level,
			kpi_flag,
			zy_cd,
			db_info,
			jfyq,
			ly_sm,
			end_date,
			begin_date,
			create_time,
			update_time,
			jd_bl,
			rwpf,
			id,
			tenant_id,
			ts,
			dr
		)
		values (#{zrr,jdbcType=VARCHAR}, 
		#{dbr,jdbcType=VARCHAR},
		#{zbr,jdbcType=VARCHAR},
		#{update_name,jdbcType=VARCHAR}, 
		#{create_name,jdbcType=VARCHAR}, 
		#{zr_dw,jdbcType=VARCHAR},
		#{unitid,jdbcType=VARCHAR},
		#{xb_dw,jdbcType=VARCHAR}, 
		#{qt_ld,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{xbr,jdbcType=VARCHAR}, 
		#{ly_code,jdbcType=VARCHAR},
		#{state,jdbcType=NUMERIC},
		#{kpi_level,jdbcType=NUMERIC},
		#{kpi_flag,jdbcType=NUMERIC},
		#{zy_cd,jdbcType=NUMERIC},
		#{db_info,jdbcType=VARCHAR},
		#{jfyq,jdbcType=VARCHAR},
		#{ly_sm,jdbcType=VARCHAR},
		#{end_date,jdbcType=TIMESTAMP},
		#{begin_date,jdbcType=TIMESTAMP},
		#{create_time,jdbcType=TIMESTAMP},
		#{update_time,jdbcType=TIMESTAMP},
		#{jd_bl,jdbcType=NUMERIC},
		#{rwpf,jdbcType=NUMERIC},
		#{id,jdbcType=VARCHAR},
		#{tenant_id,jdbcType=VARCHAR},
		#{ts,jdbcType=TIMESTAMP},
		#{dr,jdbcType=NUMERIC}
		)
	</insert>
	
	<update id="update" parameterType="com.yonyou.iuap.example.supervise.entity.Ygdemo_yw_info">
		update ygdemo_yw_info
		set zrr = #{zrr,jdbcType=VARCHAR},
		dbr = #{dbr,jdbcType=VARCHAR},
		zbr = #{zbr,jdbcType=VARCHAR},
		update_name = #{update_name,jdbcType=VARCHAR},
		create_name = #{create_name,jdbcType=VARCHAR},
		zr_dw = #{zr_dw,jdbcType=VARCHAR},
		unitid = #{unitid,jdbcType=VARCHAR},
		xb_dw = #{xb_dw,jdbcType=VARCHAR},
		qt_ld = #{qt_ld,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		code = #{code,jdbcType=VARCHAR},
		xbr = #{xbr,jdbcType=VARCHAR},
		ly_code = #{ly_code,jdbcType=VARCHAR},
		state = #{state,jdbcType=NUMERIC},
		kpi_level = #{kpi_level,jdbcType=NUMERIC},
		kpi_flag = #{kpi_flag,jdbcType=NUMERIC},
		zy_cd = #{zy_cd,jdbcType=NUMERIC},
		db_info = #{db_info,jdbcType=VARCHAR},
		jfyq = #{jfyq,jdbcType=VARCHAR},
		ly_sm = #{ly_sm,jdbcType=VARCHAR},
		end_date = #{end_date,jdbcType=TIMESTAMP},
		begin_date = #{begin_date,jdbcType=TIMESTAMP},
		create_time = #{create_time,jdbcType=TIMESTAMP},
		update_time = #{update_time,jdbcType=TIMESTAMP},
		jd_bl = #{jd_bl,jdbcType=NUMERIC},
		rwpf = #{rwpf,jdbcType=NUMERIC},
		tenant_id = #{tenant_id,jdbcType=VARCHAR},
		ts = #{ts,jdbcType=TIMESTAMP},
		dr = #{dr,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<delete id="batchDeleteByPK" parameterType="java.util.List">
		delete from ygdemo_yw_info
		where
		id in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
		#{item.id,jdbcType=VARCHAR}
		</foreach>
	</delete>
</mapper>