<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.iuap.example.asval.dao.ExampleAsValMapper">
  <resultMap id="BaseResultMap" type="com.yonyou.iuap.example.asval.entity.ExampleAsVal">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="ORD_INDEX" jdbcType="INTEGER" property="ordIndex" />
    <result column="LSTDATE" jdbcType="TIMESTAMP" property="lstdate" />
    <result column="IS_SYSTEM" jdbcType="CHAR" property="isSystem" />
  </resultMap>
  <sql id="Base_Column_List">
    ID,PID,CODE,NAME,VALUE,ORD_INDEX,LSTDATE,IS_SYSTEM
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.yonyou.iuap.example.asval.entity.ExampleAsVal" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from example_as_val
    where  ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yonyou.iuap.example.asval.entity.ExampleAsVal">
    delete from example_as_val
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yonyou.iuap.example.asval.entity.ExampleAsVal">
    insert into example_as_val (ID,PID, CODE, NAME,VALUE,
      ORD_INDEX, LSTDATE, IS_SYSTEM
      )
    values (#{id,jdbcType=VARCHAR},#{pid,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},
      #{ordIndex,jdbcType=INTEGER}, #{lstdate,jdbcType=TIMESTAMP}, #{isSystem,jdbcType=CHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.iuap.example.asval.entity.ExampleAsVal">
    update example_as_val
    <set>
      <if test="pid != null">
        PID = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="ordIndex != null">
        ORD_INDEX = #{ordIndex,jdbcType=INTEGER},
      </if>
      <if test="lstdate != null">
        LSTDATE = #{lstdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isSystem != null">
        IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.iuap.example.asval.entity.ExampleAsVal">
    update example_as_val
    set PID = #{pid,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      ORD_INDEX = #{ordIndex,jdbcType=INTEGER},
      LSTDATE = #{lstdate,jdbcType=TIMESTAMP},
      IS_SYSTEM = #{isSystem,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from example_as_val
  </select>

  <select id="findByClause" resultMap="BaseResultMap" parameterType="com.yonyou.iuap.example.asval.entity.ExampleAsVal">
    select
    <include refid="Base_Column_List" />
    from example_as_val
    where 1=1
      AND pid=#{pid,jdbcType=VARCHAR}
      AND value=#{value,jdbcType=VARCHAR}
  </select>

  <select id="getByIds" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from example_as_val where  1=1  and NAME in
    <foreach collection="list" item="item" index="index"
             separator="," open="(" close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <!--参照配置-->
  <select id="queryByClause" resultMap="BaseResultMap"
          resultType="java.util.List">
    select
    <include refid="Base_Column_List" />
    from example_as_val

    where 1=1
   <!-- <if test="params != null">
      <if test="params.pid != null and params.pid != ''">
        and pid = #{params.code,jdbcType=VARCHAR}
      </if>
    </if>-->
    AND (NAME like CONCAT(CONCAT('%', #{keyword}),'%') or VALUE like CONCAT(CONCAT('%', #{keyword}),'%'))
  </select>

  <select id="selectAllByPage" resultMap="BaseResultMap"
          resultType="java.util.List">
    SELECT
    <include refid="Base_Column_List" />
    from example_as_val where 1=1
    <if test="search != null">
      <if test="search.value!=null and search.value!='' ">
        and value like CONCAT(CONCAT('%', #{search.value}),'%')
      </if>
      <if test="search.name!=null and search.name!='' ">
        and name like CONCAT(CONCAT('%', #{search.name}),'%')
      </if>
    </if>
    <if test="page != null">
      <if test="page.sort!=null">
        order by
        <foreach collection="page.sort" item="item" separator=" ">
          ${item.property} ${item.direction}
        </foreach>
      </if>
    </if>
  </select>
</mapper>