<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.order.dao.OrderDetailMapper">

	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.order.entity.OrderDetail">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="orderId" property="orderId" jdbcType="VARCHAR" />
		<result column="detailCode" property="detailCode" jdbcType="VARCHAR" />
		<result column="goodsCode" property="goodsCode" jdbcType="VARCHAR" />
		<result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="NUMERIC" />
		<result column="total" property="total" jdbcType="NUMERIC" />
		<result column="amount" property="amount" jdbcType="NUMERIC" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="NUMERIC" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="NUMERIC" />		
	</resultMap>
	
	<sql id="Base_Column_List">
			id,
			orderId,
			detailCode,
			goodsCode,
			goodsName,
			manufacturer,
			price,
			total,
			amount,
			remark,
			version,
			ts,
			dr
	</sql>
	
	<select id="selectAllByPage" resultMap="BaseResultMap" resultType="java.util.List">
		SELECT	
			<include refid="Base_Column_List"></include>
		FROM	example_order_detail
		WHERE	1=1
			<if test="condition!=null">
				<if test="condition.searchMap.orderId!=null">
					and orderId = #{condition.searchMap.orderId}
				</if>
			</if>
	</select>
	
	<insert id="insert" parameterType="com.yonyou.iuap.example.order.entity.OrderDetail">
		INSERT INTO example_order_detail (	id,
											orderId,
											detailCode,
											goodsCode,
											goodsName,
											manufacturer,
											price,
											total,
											amount,
											remark,
											version,
											ts,
											dr
		) values (#{id,jdbcType=VARCHAR}, 
				#{orderId,jdbcType=VARCHAR},
				#{detailCode,jdbcType=VARCHAR},
				#{goodsCode,jdbcType=VARCHAR},
				#{goodsName,jdbcType=VARCHAR},
				#{manufacturer,jdbcType=VARCHAR},
				#{price,jdbcType=NUMERIC},
				#{total,jdbcType=NUMERIC},
				#{amount,jdbcType=NUMERIC},
				#{remark,jdbcType=VARCHAR}, 
				#{version,jdbcType=NUMERIC},
				#{ts,jdbcType=TIMESTAMP},
				#{dr,jdbcType=NUMERIC}
		)
	</insert>
	
	<update id="update">
		UPDATE 	example_order_detail
		SET		goodsCode=#{goodsCode,jdbcType=VARCHAR},
				goodsName=#{goodsName,jdbcType=VARCHAR},
				manufacturer=#{manufacturer,jdbcType=VARCHAR},
				price=#{price,jdbcType=NUMERIC},
				total=#{total,jdbcType=NUMERIC},
				amount=#{amount,jdbcType=NUMERIC},
				remark=#{remark,jdbcType=VARCHAR},
				version=#{version,jdbcType=NUMERIC}+1
		WHERE	id=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM example_order_detail
		WHERE 1=1
			<if test="condition != null">
				<if test="condition.id!=null and condition.id!=''">
					and id=#{condition.id}
				</if>
				<if test="condition.ids!=null and condition.ids.size>0">
					and id in 
					<foreach collection="condition.ids" item="item"
			        		open="(" close=")" separator=",">
			            #{item,jdbcType=VARCHAR}
			        </foreach>
				</if>
				<if test="condition.orderId!=null and condition.orderId!=''">
					and orderId=#{condition.orderId}
				</if>
				<if test="condition.orderIds!=null and condition.orderIds.size==0">
					and orderId in
					  	<foreach collection="condition.orderIds" item="item"
			            	open="(" close=")" separator=",">
			            	#{item,jdbcType=VARCHAR}
			        	</foreach>
				</if>
				<if test="condition.detailIds4NoDel!=null and condition.detailIds4NoDel.size>0">
					and id not in
					  	<foreach collection="condition.detailIds4NoDel" item="item"
			            	open="(" close=")" separator=",">
			            	#{item,jdbcType=VARCHAR}
			        	</foreach>
				</if>
			</if>
	</delete>
	
</mapper>