<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.order.dao.OrderBillMapper">

	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.order.entity.OrderBill">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="orderCode" property="orderCode" jdbcType="VARCHAR" />
		<result column="orderName" property="orderName" jdbcType="VARCHAR" />
		<result column="orderDate" property="beginDate" jdbcType="DATE" />
		<result column="beginDate" property="beginDate" jdbcType="DATE" />
		<result column="endDate" property="endDate" jdbcType="DATE" />
		<result column="customer" property="customer" jdbcType="VARCHAR" />
		<result column="dept" property="dept" jdbcType="VARCHAR" />
		<result column="busiman" property="busiman" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="NUMERIC" />
		<result column="currency" property="currency" jdbcType="VARCHAR" />
		<result column="orderState" property="orderState" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="NUMERIC" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="lastModified" property="lastModified" jdbcType="TIMESTAMP" />
		<result column="createUser" property="createUser" jdbcType="VARCHAR" />
		<result column="lastModifyUser" property="lastModifyUser" jdbcType="VARCHAR" />
		<result column="ts" property="ts" jdbcType="TIMESTAMP" />
		<result column="dr" property="dr" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		  id,
		  orderCode,
		  orderName,
		  orderDate,
		  beginDate,
		  endDate,
		  customer,
		  dept,
		  busiman,
		  amount,
		  currency,
		  orderState,
		  version,
		  createTime,
		  createUser,
		  lastModified,
		  lastModifyUser,
		  ts,
		  dr
	</sql>
	
	<select id="selectAllByPage" resultMap="BaseResultMap" resultType="java.util.List">
		SELECT
			<include refid="Base_Column_List" />
		FROM example_order_bill where 1=1 
			<if test="condition != null">
				<if test="condition.searchMap.id!=null and condition.searchMap.id!='' ">
					and id = #{id, jdbcType=VARCHAR}
				</if>
				<if test="condition.searchMap.orderCode!=null and condition.searchMap.orderCode!='' ">
					and orderCode like CONCAT(CONCAT('%', #{search.searchMap.orderCode}),'%')
				</if>
				<if test="condition.searchMap.orderName!=null and condition.searchMap.orderName!='' ">
					and orderCode like CONCAT(CONCAT('%', #{search.searchMap.orderName}),'%')
				</if>
			</if>		
			<if test="page != null">
				<if test="page.sort!=null">
					order by 
					<foreach collection="page.sort" item="item" separator=" ">
						${item.property} ${item.direction}
					</foreach>
				</if>
			</if>	
	</select>
	
	<select id="queryList" resultMap="BaseResultMap" parameterType="java.util.List">
		SELECT
			<include refid="Base_Column_List" />
		FROM   example_order_bill
		WHERE  1=1
			<if test="condition != null">
				<if test="condition.id!=null and condition.id!=''">
					and id = #{condition.id, jdbcType=VARCHAR}
				</if>
			</if>
	</select>
	
	<insert id="insert" parameterType="com.yonyou.iuap.example.order.entity.OrderBill">
		insert into example_order_bill (
				  id,
				  orderCode,
				  orderName,
				  orderDate,
				  beginDate,
				  endDate,
				  customer,
				  dept,
				  busiman,
				  amount,
				  currency,
				  orderState,
				  version,
				  createTime,
				  createUser,
				  lastModified,
				  lastModifyUser,
				  ts,
				  dr
		)values(	#{id,jdbcType=VARCHAR},
					#{orderCode,jdbcType=VARCHAR},
					#{orderName,jdbcType=VARCHAR},
					#{orderDate,jdbcType=DATE},
					#{beginDate,jdbcType=DATE},
					#{endDate,jdbcType=DATE},
					#{customer,jdbcType=VARCHAR},
					#{dept,jdbcType=VARCHAR},
					#{busiman,jdbcType=VARCHAR},
					#{amount,jdbcType=NUMERIC},
					#{currency,jdbcType=VARCHAR},
					#{orderState,jdbcType=VARCHAR},
					#{version,jdbcType=NUMERIC},
					#{createTime,jdbcType=VARCHAR},
					#{createUser,jdbcType=VARCHAR},
					#{lastModified,jdbcType=VARCHAR},
					#{lastModifyUser,jdbcType=VARCHAR},
					#{ts,jdbcType=VARCHAR},
					#{dr,jdbcType=DATE}
		)
	</insert>
	
	<update id="update" parameterType="com.yonyou.iuap.example.order.entity.OrderBill">
		update 	example_order_bill
		set		orderCode=#{orderCode,jdbcType=VARCHAR},
				orderName=#{orderName,jdbcType=VARCHAR},
				orderDate=#{orderDate,jdbcType=DATE},
				beginDate=#{beginDate,jdbcType=DATE},
				endDate=#{endDate,jdbcType=DATE},
				orderState=#{orderState,jdbcType=VARCHAR},
				customer=#{customer,jdbcType=VARCHAR},
				dept=#{dept,jdbcType=VARCHAR},
				busiman=#{busiman,jdbcType=VARCHAR},
				amount=#{amount,jdbcType=NUMERIC},
				currency=#{currency,jdbcType=VARCHAR},
				version=#{version,jdbcType=NUMERIC}+1,
				lastModified=#{lastModified,jdbcType=TIMESTAMP},
				lastModifyUser=#{lastModifyUser,jdbcType=VARCHAR}
		where	id=#{id}
				and version=#{version}
	</update>
	
	<delete id="delete">
		DELETE FROM example_order_bill
		WHERE 1=1
			<if test="condition==null">
				and 1=2
			</if>
			<if test="condition!=null">
				<if test="condition.id!=null and condition.id!=''">
					and id = #{id}
				</if>
				<if test="condition.orderIds!=null">
					and id in 
					<foreach collection="condition.orderIds" item="item" separator="," open="(" close=")">
						#{item,jdbcType=VARCHAR}
					</foreach>
				</if>
			</if>
	</delete>
	
</mapper>