<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.example.workorder.dao.WorkorderMapper">

	<resultMap id="BaseResultMap" type="com.yonyou.iuap.example.workorder.entity.Workorder">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="type_name" property="type_name" />
		<result column="content" property="content" />
		<result column="applicant" property="applicant" />
		<result column="applyTime" property="applyTime" />
		<result column="finishTime" property="finishTime" />

		<result column="status" property="status" />
		<result column="status_name" property="status_name" />
		<result column="remark" property="remark" />



		<result column="dr" property="dr" />
		<result column="ts" property="ts" />
		<result column="last_modified" property="lastModified" />
		<result column="last_modify_user" property="lastModifyUser" />
		<result column="create_time" property="createTime" />
		<result column="create_user" property="createUser" />

        <result column="bpm_state" property="bpmState" />
        <result column="bpm_task_key" property="taskKey" />
        <result column="bpm_taskid" property="taskId" />
        <result column="bpm_process_instance" property="processInstanceId" />
        <result column="bpm_process_define" property="processDefineCode" />

	</resultMap>
	<select id="selectAllByPage" resultMap="BaseResultMap">
		SELECT	t.id,
				t.code,
				t.name,
				t.type,
				CASE WHEN t.type='0' THEN '投诉工单' WHEN t.type='1' THEN '对账工单' ELSE '已办结' END AS type_name,
				t.content,
				t.applicant,
				t.applyTime,
				t.finishTime,
				t.status,
				CASE WHEN t.status='0' THEN '未提交' WHEN t.status='1' THEN '已提交' WHEN t.status='2' THEN '审批中' WHEN t.status='0' THEN '已办结' END AS status_name,
				t.remark,
				t.create_Time ,
				t.create_User ,
				t.last_Modified ,
				t.ts,
				t.bpm_state,
                t.bpm_task_key,
                t.bpm_taskid,
                t.bpm_process_instance,
                t.bpm_process_define
		FROM  example_workorder_bpm t
		WHERE dr=0
			<if test="condition != null">
				<if test="condition.searchMap.code!=null and condition.searchMap.code!='' ">
					and t.code like CONCAT(CONCAT('%', ${condition.searchMap.code}),'%')
				</if>
				<if test="condition.searchMap.name!=null and condition.searchMap.name!='' ">
					and t.name like CONCAT(CONCAT('%', ${condition.searchMap.name}),'%')
				</if>
			</if>		
			<if test="page != null">
				<if test="page.sort!=null">
					order by 
					<foreach collection="page.sort" item="item" separator=" ">
						${item.property} ${item.direction}
					</foreach>
				</if>
			</if>	
	</select>
	<!---->
	<!--<select id="queryList" resultType="com.yonyou.iuap.example.workorder.entity.Workorder">-->
		<!--SELECT	t.id,-->
				<!--t.code,-->
				<!--t.name,-->
				<!--t.type,-->
				<!--CASE WHEN t.type='0' THEN '投诉工单' WHEN t.type='1' THEN '对账工单' ELSE '已办结' END AS type_name,-->
				<!--t.content,-->
				<!--t.applicant,-->
				<!--t.applyTime,-->
				<!--t.status,-->
				<!--CASE WHEN t.status='0' THEN '未提交' WHEN t.status='1' THEN '已提交' WHEN t.status='2' THEN '审批中' WHEN t.status='0' THEN '已办结' END AS status_name,-->
				<!--t.remark,-->
				<!--t.version,-->
				<!--t.createTime,-->
				<!--t.createUser,-->
				<!--t.lastModified,-->
				<!--t.lastModified,-->
				<!--t.ts,-->
				<!--t.dr-->
		<!--FROM  example_workorder t-->
		<!--WHERE 1=1-->
			<!--<if test="condition != null">-->
				<!--<if test="condition.id!=null and condition.id!=''">-->
					<!--and id = #{condition.id, jdbcType=VARCHAR}-->
				<!--</if>-->
			<!--</if>-->
	<!--</select>-->
	<!---->
	<!--<insert id="insert" parameterType="com.yonyou.iuap.example.workorder.entity.Workorder">-->
		<!--insert into example_workorder (-->
				  <!--id,-->
				  <!--code,-->
				  <!--name,-->
				  <!--type,-->
				  <!--content,-->
				  <!--applicant,-->
				  <!--applyTime,-->
				  <!--status,-->
				  <!--remark,-->
				  <!--version,-->
				  <!--createTime,-->
				  <!--createUser,-->
				  <!--lastModified,-->
				  <!--lastModifyUser,-->
				  <!--ts,-->
				  <!--dr-->
		<!--)values(	#{id,jdbcType=VARCHAR},-->
					<!--#{code,jdbcType=VARCHAR},-->
					<!--#{name,jdbcType=VARCHAR},-->
					<!--#{type,jdbcType=VARCHAR},-->
					<!--#{content,jdbcType=VARCHAR},-->
					<!--#{applicant,jdbcType=VARCHAR},-->
					<!--#{applyTime,jdbcType=DATE},-->
					<!--#{status,jdbcType=VARCHAR},-->
					<!--#{remark,jdbcType=VARCHAR},-->
					<!--#{version,jdbcType=NUMERIC},-->
					<!--#{createTime,jdbcType=VARCHAR},-->
					<!--#{createUser,jdbcType=VARCHAR},-->
					<!--#{lastModified,jdbcType=VARCHAR},-->
					<!--#{lastModifyUser,jdbcType=VARCHAR},-->
					<!--#{ts,jdbcType=VARCHAR},-->
					<!--#{dr,jdbcType=DATE}-->
		<!--)-->
	<!--</insert>-->
	<!---->
	<!--<update id="update" parameterType="com.yonyou.iuap.example.workorder.entity.Workorder">-->
		<!--update 	example_workorder-->
		<!--set		-->
				<!--code=#{code,jdbcType=VARCHAR},-->
				<!--name=#{name,jdbcType=VARCHAR},-->
				<!--type=#{type,jdbcType=VARCHAR},-->
				<!--content=#{content,jdbcType=VARCHAR},-->
				<!--applicant=#{applicant,jdbcType=VARCHAR},-->
				<!--applyTime=#{applyTime,jdbcType=VARCHAR},-->
				<!--status=#{status,jdbcType=VARCHAR},-->
				<!--remark=#{remark,jdbcType=VARCHAR},-->
				<!--version=#{version,jdbcType=NUMERIC}+1,-->
				<!--lastModified=#{lastModified,jdbcType=TIMESTAMP},-->
				<!--lastModifyUser=#{lastModifyUser,jdbcType=VARCHAR}-->
		<!--where	id=#{id}-->
				<!--and version=#{version}-->
	<!--</update>-->
	<!---->
	<!--<delete id="delete">-->
		<!--DELETE FROM example_workorder-->
		<!--WHERE 1=1-->
			<!--<if test="condition==null">-->
				<!--and 1=2-->
			<!--</if>-->
			<!--<if test="condition!=null">-->
				<!--<if test="condition.id!=null and condition.id!=''">-->
					<!--and id = #{condition.id}-->
				<!--</if>-->
				<!--<if test="condition.ids!=null and condition.ids.size>0">-->
					<!--and id in (-->
						<!--<foreach collection="condition.ids" item="item" separator="," open="(" close=")">-->
							<!--#{item,jdbcType=VARCHAR}-->
						<!--</foreach>-->
					<!--)-->
				<!--</if>-->
			<!--</if>-->
	<!--</delete>-->
	
</mapper>